.root{
    category-color: #FFDBD1;
    product-item-color: white;
}
.text-sample{
      -fx-font-size: 16px;
      -fx-font-family: "Arial";
      -fx-font-weight: bold;
}

.text-help {
    -fx-font-size: 20px;
    -fx-font-family: "Times New Roman";
}

#text-bold {
    -fx-font-weight: bold;
}

.text-item {
    -fx-font-size: 22px;
    -fx-font-family: "Times New Roman";
}

.text-header {
    -fx-font-size: 22px;
    -fx-font-family: "Times New Roman";
}

.text-header:hover{
    -fx-text-fill: darkgray;
}

.text-grocery-title{
    -fx-font-size: 30px;
    -fx-font-family: "Times New Roman";
    -fx-font-weight: bold;
}

#text-grocery-bigger {
    -fx-font-size: 35px;
}

.text-categories {
    -fx-font-size: 15px;
    -fx-font-family: "Times New Roman";
    -fx-font-weight: bold;
}

.text-buttons{
    -fx-background-radius: 0px 15px 15px 15px;
    -fx-background-color: category-color;
    -fx-pref-height: 40px;
    -fx-effect: dropshadow(gaussian, #000000, 2, 0.2, 1, 1);
}

.text-buttons:hover{
    -fx-background-color: #FCB8A6;
}

.text-buttons:pressed{
    -fx-background-color: #FCB8A6;
}

#text-categories_larger {
    -fx-font-size: 20px;
}

#logo {
    -fx-background-color: #FFFFFF;
    -fx-font-weight: 800;
}

#searchBar {
    -fx-border-radius: 15px;
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-style: bold;
    -fx-border-width: 2px;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: #000000;

}

#header {
    -fx-effect: dropshadow(three-pass-box, grey, 15, 0, 0, 0);
    -fx-background-color: #ffffff;
}

#detail {
    -fx-background-color: #EFEFF2;
    -fx-effect: innershadow(three-pass-box, grey, 25, 0, 1, 1);
}

#how-to{
    -fx-background-color: #EFEFF2;
    -fx-effect: innershadow(three-pass-box, grey, 25, 0, 1, 1);
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 0 0 0;
}

.flow-pane *.scroll-bar {
    -fx-padding: 0 0 0 0;
}

#help-button {
    -fx-background-color: #F67952;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, #929292, 15, 0, 5, 5);
    -fx-font-weight: 400;
    -fx-text-fill: #000000;
}

#help-button:hover {
    -fx-background-color: derive(#F67952, 10%);
}

#detail-text {
    -fx-background-color: #EFEFF2;
    -fx-control-inner-background: #EFEFF2
}

.minus-button {
    -fx-text-fill: #c82525;
    -fx-effect: dropshadow(three-pass-box, #000000, 2, 0.2, 1, 1);
}

.minus-button:hover {
    -fx-text-fill: #fa144a;
}

.plus-button{
    -fx-text-fill: #2ea91b;
    -fx-effect: dropshadow(three-pass-box, #000000, 2, 0.2, 1, 1);
}

.plus-button:hover{
    -fx-text-fill: #11ed39;
}

.product-item{
    -fx-effect: dropshadow(three-pass-box, #000000, 2, 0.2, 1, 1);
    -fx-border-color: #4E4E4E;
    -fx-border-radius: 15px;
    -fx-background-color: product-item-color;
    -fx-border-width: 2px;
}

.product-item:hover{
    -fx-background-color: lightgrey;
}

.product-item:selected{
    -fx-background-color: lightgrey;
}

.shopping-cart-item{
    -fx-effect: dropshadow(gaussian, #000000, 2, 0.2, 1, 1);
    -fx-background-color: product-item-color;
    -fx-border-color: #4E4E4E;
    -fx-border-width: 2px;
}

.shopping-cart-item:hover{
    -fx-background-color: lightgrey;
}

.button-green{
    -fx-effect: dropshadow(gaussian, #000000, 2, 0.2, 2, 2);
    -fx-background-radius: 10%;
    -fx-background-color: #9ED296;
}

.button-green:hover{
    -fx-background-color: derive(#9ED296, 20%);
}

.button-back{
    -fx-effect: dropshadow(gaussian, #000000, 2, 0.2, 2, 2);
    -fx-background-radius: 10%;
    -fx-background-color: #F67952;
}

.button-back:hover{
    -fx-background-color: derive(#F67952, 20%);
}

#clear-button{
    -fx-effect: dropshadow(gaussian, #000000, 2, 0.2, 2, 2);
    -fx-background-radius: 10%;
    -fx-background-color: red;
}

#clear-button:hover{
    -fx-background-color: #fa144a;
}

.config-input {
    -fx-control-inner-background: #D9D9D9;
    -fx-background-radius: 5px;
    -fx-pref-height: 14px;
    -fx-font-weight: 400;
    -fx-font-size: 14;
}

#item-grid {

}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :0;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0 0 ;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-insets : 0;
    -fx-background-radius : 0;
}

.imat-label:hover{
    -fx-text-fill: #8B4000;
}



.date-image:hover{
    -fx-text-fill: black;
}


.text-field.error{
    -fx-text-box-border: red ;
    -fx-focus-color: red
}

#error-text{
    -fx-text-fill: red;
}