
.text-sample{
      -fx-font-size: 16px;
      -fx-font-family: "Arial";
      -fx-font-weight: bold;
}

.text-help {
    -fx-font-size: 20px;
    -fx-font-family: "Times New Roman";
}

#text-bold {
    -fx-font-weight: bold;
}

.text-header {
    -fx-font-size: 22px;
    -fx-font-family: "Times New Roman";
}

.text-grocery-title{
    -fx-font-size: 30px;
    -fx-font-family: "Times New Roman";
    -fx-font-weight: bold;
}

#text-grocery-bigger {
    -fx-font-size: 35px;
}

.text-categories {
    -fx-font-size: 15px;
    -fx-font-family: "Times New Roman";
    -fx-font-weight: bold;
}

#text-categories_larger {
    -fx-font-size: 20px;
}
